name: GitHub Actions
run-name: ${{github.actor}} is running this GitHub Action
on: push
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
    - run: echo " This job was automatically triggeres by a ${{github.event_name}} event."
